* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    min-width: 99vw;
    min-height: 100vh;
    color: #08090B;
    background-color: #FFFFFF;

}

header {
    position: fixed;
    top: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.01);
    padding: 1rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

nav img {
    width: 100px;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.hover-li {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.hover-li:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.contact {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.start {
    background-color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.hero {
    background-image: url("./public/bgimg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    width: 100%;
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #FFFFFF;
}

.suggestion {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.3rem 0.4rem;
    border-radius: 1.5rem;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.suggestion svg {
    width: 20px;
}

.new {
    background-color: #0C8C5E;
    padding: 0.1rem 0.4rem;
    border-radius: 1rem;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
}

.hero-title {
    font-weight: 600;
    font-size: 61px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.hero-subtitle {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 2rem;
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.3rem 0.4rem;
    padding-left: 1rem;
    border-radius: 1.5rem;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    width: 23%;
    margin-bottom: 5rem;
}

.input-box input {
    background: none;
    border: none;
    outline: none;
    color: #FFFFFF;
}

.input-box input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.input-box button {
    background-color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    color: #08090B;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
}

.hero img {
    border-radius: 1rem;
}

.brands {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
}

.brands img {
    width: 60%;
}

.built-for {
    text-align: center;
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.built-for h2 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 1rem;
}

.built-for-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: lab(2.42579% -.165291 -.470081/.8);
    margin-bottom: 2.2rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: left;
    width: 33%;
    /* height: 10%; */
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;
}

.card h3 {
    font-weight: 500;
    font-size: 24px;
}

.desc {
    font-weight: 400;
    font-size: 16px;
    color: lab(2.42579% -.165291 -.470081/.8);
    line-height: 24px;

}

.green-p {
    color: lab(51.3415 -41.5657 15.3527);
    font-size: 12px;
    font-weight: 500;
}

.first-card-img {
    width: 100%;
}

.second-card-img {
    width: 94%;
}

.big-card {
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 3rem;
    gap: 1rem;
}

.big-card h3 {
    font-weight: 500;
    font-size: 24px;
}

.big-card video {
    width: 100%;
}

.enterprise {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    padding: 5rem 0;
}

.enterprise h3 {
    font-weight: 600;
    font-size: 40px;
    margin: 1rem 0;
}

.enterprise-head {
    display: flex;
    gap: 12rem;
    margin-bottom: 2rem;
}

.enterprise-head button {
    background-color: #08090B;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    align-self: flex-end;
}

.enterprise-head button:hover {
    background-color: #2C2D2E;
}

.enterprise-card svg {
    width: 30px;
}

.enterprise-cards {
    display: flex;
    gap: 5rem;
    margin-bottom: 4rem;
}

.enterprise-card h3 {
    font-size: 20px;
    font-weight: 600;
}

.enterprise-card p {
    color: lab(2.42579 -0.165291 -0.470081/0.8);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 1rem 0;
}

.enterprise img {
    width: 1010px;
    border-radius: 1rem;
    cursor: pointer;
}

.growth-img:hover {
    filter: brightness(0.8)
}

.customers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    text-align: center;
    overflow-x: hidden;
}

.customers h2 {
    font-weight: 600;
    font-size: 40px;
    margin: 1rem 0;
}

.customers-cards {
    display: flex;
    gap: 1rem;
    overflow-x: hidden;
    scrollbar-width: none;
    text-align: left;
    margin: 3rem 0;
    padding-left: 40rem;
}

.customer-card {
    width: 26vw;
    height: 57vh;
    cursor: pointer;
}

.customer-card:hover img {
    filter: brightness(0.7);
}

.customer-card img {
    width: 100%;
    height: 65%;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.customer-card button {
   border: none;
   background: none;
   margin-top: 1rem;
   font-weight: 500;
   font-size: 15px;
   cursor: pointer;
   color: lab(2.42579 -0.165291 -0.470081 / 0.5);
}

.customer-card button:hover {
    color: lab(51.3415 -41.5657 15.3527);
}

.parent-button:hover .descend {
    /* transform: translateX(15px); */
    /* transition: all 0.5s ease-in-out; */
    margin-left: 2px;
    color: lab(51.3415 -41.5657 15.3527);
}

.buttons {
    display: flex;
    gap: 0.5rem;
}

.buttons svg {
    width: 30px;
    cursor: pointer;
}

.customers h3 {
    font-size: 40px;
    font-weight: 600;
}

.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 8rem 0;
}

.advantage-buttons {
    margin: 2rem 0;
}

.get-started {
    background-color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.get-started:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

.get-demo {
    background-color: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.get-demo:hover {
    background-color: #F6F6F6;
}

.parent-button {
    border: none;
    background: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: lab(51.3415 -41.5657 15.3527);
}

.end-cards {
    display: flex;
    gap: 1rem;
}

.end-card svg {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem;
    width: 4rem;
    cursor: pointer
}

.end-card h4 {
    font-size: 20px;
    font-weight: 500;
}

.end-card p {
    font-size: 16px;
    line-height: 24px;
    margin: 1rem 0;
    margin-bottom: 2rem;
}

.border-card {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 4rem;
    margin-left: 4rem;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-footer {
    display: flex;
    gap: 40.4rem;
    padding: 4rem 1rem 1rem 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
    gap: 1rem;
}

.footer-options ul {
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    cursor: pointer;
    color: lab(2.42579 -0.165291 -0.470081);
}

.footer-options li {
    margin-bottom: 1rem;
}

.footer-heading {
    color: lab(2.42579 -0.165291 -0.470081 / 0.5);
    font-size: 13px;
}